<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>repweb</title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    <div id="react-meganavbar"
         data-user-name="{{ app.user.email ?? '' }}"
         data-user-email="{{ app.user.email ?? '' }}"
         data-user-avatar=""
         data-csrf-token="{{ csrf_token('authenticate') }}">
    </div>

    <div class="container-fluid mt-3">
      {% block body %}{% endblock %}
    </div>

    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}{% endblock %}
	<script>
	  window.__repweb = window.__repweb || { flags: {
		MIGRATION_MANAGER_ENABLED: {{ flags.MIGRATION_MANAGER_ENABLED ? 'true' : 'false' }},
		BLAUE_ELISE_ENABLED: {{ flags.BLAUE_ELISE_ENABLED ? 'true' : 'false' }},
		PROGRESS_INDICATORS_ENABLED: {{ flags.PROGRESS_INDICATORS_ENABLED ? 'true' : 'false' }},
	  } };
	</script>


  </body>

</html>
